<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJjKjkx2sTOg8OZ_zJiOZZMEgoY28O7Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>787505359921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.retroBankApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>retro-bank-2458e</string>
	<key>STORAGE_BUCKET</key>
	<string>retro-bank-2458e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787505359921:ios:e09eabfe5a7896cff5f910</string>
</dict>
</plist>